services:
  api:
    build:
      context: ./api
      dockerfile: Dockerfile
    image: majdeq/gracejeanne-api:latest
    container_name: api
    restart: always
    env_file:
      - ./api/.env
    expose:
      - "3001"
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
      args:
        - NEXT_PUBLIC_IAM_CLIENT_ID=${NEXT_PUBLIC_IAM_CLIENT_ID}
        - NEXT_PUBLIC_IAM_URL=${NEXT_PUBLIC_IAM_URL}
        - NEXT_PUBLIC_API_URL=${NEXT_PUBLIC_API_URL}
    image: majdeq/gracejeanne-frontend:latest
    container_name: frontend
    restart: always
    env_file:
      - ./frontend/.env
    expose:
      - "3000"
  caddy:
    image: caddy:latest
    container_name: caddy
    restart: always
    ports:
      - "80:80"
      - "443:443"
      - "443:443/udp"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data
      - caddy_config:/config
    depends_on:
      - frontend
      - api
volumes:
  caddy_data:
  caddy_config:
