services:
  api:
    build:
      context: ./api
      dockerfile: Dockerfile
    image: majdeq/gracejeanne-api:latest
    container_name: api
    restart: always
    env_file:
      - ./api/.env
    expose:
      - "3000"

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    image: majdeq/gracejeanne-frontend:latest
    container_name: frontend
    restart: always
    env_file:
      - ./frontend/.env
    expose:
      - "3000"

  caddy:
    image: caddy:latest
    container_name: caddy
    restart: always
    ports:
      - "80:80"
      - "443:443"
      - "443:443/udp" # For HTTP/3
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data
      - caddy_config:/config
    depends_on:
      - frontend
      - api

volumes:
  caddy_data:
  caddy_config:
