name: Continous Integration

on:
  pull_request:
    branches:
      - main

jobs:
  checks:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "22"

      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: latest

      - name: Install Frontend Dependencies
        run: |
          cd frontend
          pnpm install
          cd ..

      - name: Install API Depenendencies
        run: |
          cd api
          pnpm install 
          cd ..

      - name: Build Frontend
        run: |
          cd frontend
          pnpm build

      - name: Build Api
        run: |
          cd api
          pnpm build
